In [1]:
import camelot as cm

# To run Camelot without problems
We have to install Ghostscript and then we have to add _Program Files/gs/gsversion/lib_ and _Program Files/gs/gsversion/bin_ to the PATH as environment variables.

In [2]:
! ls

Automate
Extracting Table from PDF.ipynb
TED Talk.mp4
TED_talk_downloader.py
Untitled.ipynb
india_factsheet_economic_n_hdi.pdf
news-scraper.py
requirements.txt
secret.json

In [3]:
# flavour = "stream", "lattice"

('stream', 'lattice')

In [4]:
input_pdf = cm.read_pdf("india_factsheet_economic_n_hdi.pdf", flavor='lattice', pages='1,2')

Also could be with the link:
    input_pdf = cm.read_pdf("https://www.undp.org/content/dam/india/docs/india_factsheet_economic_n_hdi.pdf", flavor='lattice', pages='1,2')

In [7]:
input_pdf

In [8]:
for n in input_pdf:
    print(n)

<Table shape=(4, 3)>
<Table shape=(15, 3)>
<Table shape=(14, 4)>
<Table shape=(13, 3)>

In [13]:
input_pdf[2].df

,0,1,2,3
0,Human Development Indicators,,2000,2011
1,13,Human Development Index Value (HDI),0.461,0.547
2,14,HDI Rank (out of 187),,134
3,15,Inequality Adjusted Human Development Index Value,,0.392
4,16,Loss in HDI due to Inequalities (%),,28.7
5,,,2001,2011
6,17,Gender Inequality Index (GII),0.5531,0.617
7,18,GII Rank (out of 146),,129
8,,,1996,2006
9,19,Gender Empowerment Measure (GEM),0.416,0.497
10,,,2001,2011
11,20,Literacy Rate (%),64.8,74.04
12,21,Male Literacy Rate (%),75.3,82.14
13,22,Female Literacy Rate (%),53.7,65.46

In [15]:
df = input_pdf[2].df.loc[11:14,1:3]

In [21]:
df

                           1     2      3
11         Literacy Rate (%)  64.8  74.04
12    Male Literacy Rate (%)  75.3  82.14
13  Female Literacy Rate (%)  53.7  65.46

In [22]:
df = df.reset_index(drop=True)

In [23]:
df.columns = ['KPI','2001', '2011']
df

                        KPI  2001   2011
0         Literacy Rate (%)  64.8  74.04
1    Male Literacy Rate (%)  75.3  82.14
2  Female Literacy Rate (%)  53.7  65.46

In [ ]:
df.loc[:,['2001','2011']] = df.loc[:,['2001','2011']].astype(float)